form.form-decrypt( action="#", method="GET" )			
	h3.lead Fotoalbum
	input.form-control( name="password", type="password", placeholder="Passwort" )

	.checkbox
		label
			input( name="store", type="checkbox" )
			span Sicherer Computer
		span.help-block Dabei wird das Passwort dauerhaft auf diesem Computer gespeichert

	//- Error output
	if error
		.alert.alert-warning
			strong Fehlerhaftes Passwort.<br>
			| Bitte versuchen Sie es erneut.

	button.btn.btn-lg.btn-primary.btn-block( type="submit" ) Entschlüsseln
