//@import url( "http://fonts.googleapis.com/css?family=Qwigley|Dr+Sugiyama" )
@import "nib"

@import "bootstrap.css"

@import "basic"

@import "decrypt"


.jumbotron
	margin 50px 0 20px
	text-align center

header
	h1
		font-family 'Qwigley', Helvetica Neue
		font-size 70px
		text-align center
		font-weight 300
	h3
		font-family 'Qwigley', Helvetica Neue
		font-size 30px	
		text-align center
		font-weight 300

.topribbon
	position fixed
	top 0
	right 0

@import "posts"