html
	background url( "../img/background.jpg" )

body
	padding-top 20px
	padding-bottom 40px
	background-color transparent
	font-family Helvetica Neue
	font-weight 300

h3.lead
	font-size 40px
	padding 0
	font-weight 100
	text-align center
	white-space nowrap
	overflow hidden
	text-overflow ellipsis